<app-home-nav></app-home-nav>
<form [formGroup]="userregisterform" (ngSubmit)="userregister()">
<mat-card>
    <mat-toolbar style="background: rgb(187, 61, 117);">User-Register</mat-toolbar>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Name </mat-label>
                <input matInput formControlName="name">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Surname </mat-label>
                <input matInput formControlName="surname">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Password </mat-label>
                <input matInput formControlName="password">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Email Id </mat-label>
                <input matInput formControlName="emailid">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Mobile No </mat-label>
                <input matInput formControlName="mobileno">
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field appearance="outline">
                <mat-label> Address </mat-label>
                <input matInput formControlName="address">
            </mat-form-field>
        </div>
    </div>
    <div class="text-center mb-4 ms-3">
        <button mat-raised-button color="warn">Cancel</button>
        <button mat-raised-button color="primary" class="ms-2">Register</button>
    </div>
    <a class="text-center text-primary mb-2 fw-bold" routerLink="/user-login">Already have an account.! Go to Login</a>
</mat-card>
</form>
