<div>
    <form>
        <mat-card>
            <mat-toolbar>Book-Trip</mat-toolbar>
            <mat-form-field appearance="fill">
                <mat-label>Favorite food</mat-label>
                <mat-select [(ngModel)]="selectedValue" name="food">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            <div class="row">
                 <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>User number</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Date</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Source</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Destination</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Description</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-6">
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>No of Seats</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field>
                        <mat-label>Total Amount</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col-sm-4">
                    <mat-form-field appearance="fill" class="example-form-field">
                        <mat-label>Date of Journey</mat-label>
                        <input matInput [matDatepicker]="datepicker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                        <mat-datepicker #datepicker>
                          <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                          </mat-datepicker-actions>
                        </mat-datepicker>
                      </mat-form-field>
                </div>
            </div>
        </mat-card>
    </form>
</div>