<div>
    <form [formGroup]="userbookingform" (ngSubmit)="addbooking()">
        <mat-card>
            <mat-toolbar style="background: rgb(134, 172, 76);">Book-Trip</mat-toolbar>
         <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>User Number</mat-label>
                    <input matInput  readonly formControlName="userno">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Choose Today date only</mat-label>
                    <input matInput  [matDatepicker]="picker1" formControlName="date">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Tourname</mat-label>
                    <input matInput  readonly  formControlName="tourname">
                </mat-form-field>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Source</mat-label>
                    <input matInput  readonly formControlName="source" >
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>Destination</mat-label>
                    <input matInput   readonly formControlName="destination">
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field  appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput  readonly formControlName="desciption">
                </mat-form-field>
            </div>
         </div>
         <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="outline" >
                    <mat-label>Price</mat-label>
                    <input matInput  readonly formControlName="price"  >
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline">
                    <mat-label>No of Days</mat-label>
                    <input matInput    type="number" formControlName="noofdays"> 
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="outline" class="nfield">
                    <mat-label>Total Amount</mat-label>
                    <input matInput   formControlName="totalamount" readonly >  
                </mat-form-field>
                <button type="button" class="btn btn-success ms-1" (click)="cal()">Get Amount</button>
            </div>
         </div>
         <div >
        
            <mat-form-field class="example-full-width" appearance="outline" class="dfield">
                <mat-label>Date of Journey</mat-label>
                <input matInput  [matDatepicker]="picker2" formControlName="dateofjourney" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
                      
            </div>
            <div class="text-center mb-3">
                <button mat-raised-button  color="warn" mat-dialog-close>Cancel</button>
                <button mat-raised-button type="submit" color="primary" class="ms-2 me-2">Booktrip</button>
            </div>
       
        </mat-card>
    </form>
</div>