<app-home-nav></app-home-nav>


<mat-card>
    <mat-toolbar color="accent">Please Login</mat-toolbar>
    <div class="row">
    <div class="col-sm-6">
        <a routerLink="/admin-login">
        <img src="/assets/images/admin-logo.avif" width="80%" height="60%">
    </a>
    <div>
        <h2>ADMIN</h2>
    </div>
    </div>
   <div class="col-sm-6">
    <a routerLink="/user-login">
    <img src="/assets/images/user-logo.jpg"  width="80%" height="60%">
</a>
<div>
    <h2>USER</h2>
</div>
   </div>
</div>
    </mat-card>