<app-home></app-home>
<div>
    <form>
        <mat-card>
            <mat-toolbar style="background: rgb(174, 197, 136);">User-Login</mat-toolbar>
            <mat-form-field appearance="outline">
                <mat-label>Mobile No</mat-label>
                <input matInput placeholder="Enter Your MobileNo">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password">
            </mat-form-field>
            <div class="text-center mb-3">
                <button mat-raised-button color="primary" routerLink="/user-navbar">Login</button>
            </div>
           
  <a routerLink="/user-register" class="text-center text-danger mb-2 fw-bold"> Do not have Account...? Register Here..</a>
        </mat-card>
    </form>
</div>
