<app-home></app-home>
<div>
    <form>
        <mat-card>
            <mat-toolbar style="background: rgb(130, 199, 144);">Admin Login</mat-toolbar>
            <mat-form-field appearance="outline">
                <mat-label>UserName</mat-label>
                <input matInput placeholder="Enter Your Username">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter Your Password">
            </mat-form-field>
            <div class="text-center mb-3">
                <button mat-raised-button color="primary" routerLink="/admin-navbar">Login</button>
            </div>
        </mat-card>
    </form>
</div>
